.container {
  max-width: 150rem;
  margin: 8rem auto; //to center the container inside the body
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  margin-top: 0;
  border-radius: 3px;
  overflow: hidden;
}

.header {
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  border-radius: 3px;
  overflow: hidden;
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-grey-dark-1);
  color: rgb(255, 255, 255);
  flex: 0 0 18%; //Flex grow, shrink, basis
  border-radius: 3px;
  overflow: hidden;
}

.hotel-view {
  background-color: var(--color-grey-light-2);
  flex: 1; //Flex grow, should grow as much as it can (82%)
}

.detail {
  min-height: 92.9vh;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 1 60%; //Grow Shrink Width
  margin-right: 4.5rem;
}

.user-reviews {
  background-color: #fff;
  flex: 1; //So it grows occupying the remaining space
}
